<nav class="nav">
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="/">Home</a></li>
    <li class="menu__item"><a class="menu__link" href="/beers">Beers</a></li>
    <li class="menu__item"><a class="menu__link" href="/random-beer">Random Beers</a></li>
  </ul>
</nav>